<div
  class="w-full mx-auto mt-10 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
  [ngClass]="titleSing === 'Cine' ? 'max-w-max' : 'max-w-sm'"
>
  <!--
class="w-full max-w-sm mx-auto mt-10 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
class="w-full max-w-max mx-auto mt-10 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700" -->
  <h5 class="text-xl font-medium text-gray-900 dark:text-white mb-6">
    {{ title }}
  </h5>
  <app-mostrar-errores [errores]="errores" />
  <ng-template #contentForm />
</div>
