<div class="contenedor">
  <ul>
    @for(elemento of noSeleccionados; track $index){
    <li (click)="seleccionar(elemento, $index)" class="cursor-pointer">
      {{ elemento.valor }}
    </li>
    }
  </ul>

  <div class="botones">
    <button
      type="button"
      (click)="seleccionarTodos()"
      class="flex flex-row focus:outline-none disabled:bg-gray-200 text-white bg-gray-700 hover:bg-gray-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700"
    >
      >>
    </button>
    <button
      type="button"
      (click)="deseleccionarTodos()"
      class="flex flex-row focus:outline-none disabled:bg-gray-200 text-white bg-gray-700 hover:bg-gray-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700"
    >
      <<
    </button>
  </div>

  <ul>
    @for(elemento of seleccionados; track $index){
    <li (click)="deseleccionar(elemento, $index)" class="cursor-pointer">
      {{ elemento.valor }}
    </li>
    }
  </ul>
</div>
